/* desktop version */
body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
}
.header .header__logo {
  width: 211px;
}

.icon-under-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 94%;
  margin-top: 25px;
  height: 16px;
  gap: 12px;
  background-color: #EAEAEA;
  font-size: large;
  font-weight: bold;
}

.icon-localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.localisation__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
}

.first-catchline-secondpart {
  font-size: 2em;
  margin-block-start: -1em;
  margin-block-end: 0.67em;
  font-weight: bold;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 35px;
  font-family: "Roboto";
  margin: auto;
  height: 50px;
  text-align: center;
}

.second-catchline-secondpart {
  font-size: 1em;
  margin-block-start: -1em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  font-family: "Roboto";
  font-weight: bold;
}

.first-sentence {
  height: 60px;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
  font-size: x-large;
  height: 14px;
  margin: 0px;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
  line-height: 26px;
  font-size: 16px;
}

.button-purple {
  border-radius: 44px;
  height: 60px;
  width: 15%;
  background: linear-gradient(#DF6FDB, #AB5DDC);
  border-width: 0px;
  filter: drop-shadow(1px 5px 13px rgba(0, 0, 0, 0.3));
}
.button-purple .text-button {
  color: white;
  font-size: 18px;
  animation: 3s linear 0.1s colorIt;
}

.button-purple:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
  animation-delay: 2s;
}

.button-spec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 20px;
}

.CTA-part {
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 40px;
}

.restaurant-part {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 61%;
}

.title-restaurant {
  font-family: Roboto;
  font-weight: bold;
  font-size: x-large;
  padding-top: 40px;
  padding-bottom: 25px;
}

.bloc-button {
  font-family: Roboto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  padding-top: 40px;
  padding-bottom: 25px;
}
.bloc-button .title-button {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 45%;
}

.restaurant-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

.img-size {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.step-restaurant {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.button-step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  width: auto;
  font-size: 16px;
  padding: 24px 13px;
  padding-right: 111px;
  border-radius: 23px;
  border-color: transparent;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 9px;
  gap: 30px;
  background-color: #F6F6F6;
}

.numbers-position {
  display: flex;
  position: relative;
  right: 17px;
}

.numerotation-fonctionnement {
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  display: inline-block;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.store-shape {
  display: flex;
}

.fa-solid fa-mobile-screen-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: black;
}

.fa-solid, .fas {
  font-size: x-large;
}

.card-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.card-restaurant .spec-img {
  width: 90%;
  border-radius: 26px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.bg-restaurant {
  background-color: #EAEAEA;
  width: 100%;
}

.first-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto";
  font-weight: bold;
  font-size: larger;
}

.heart-shape {
  display: flex;
  font-size: xx-large;
  flex-direction: column;
  justify-content: center;
  max-width: 4em;
}

.fas {
  color: transparent;
  background-image: linear-gradient(#DF6FDB, #AB5DDC);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  position: absolute;
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.far {
  background-image: none;
  position: absolute;
  opacity: 1;
}

.heart-shape:hover .far {
  opacity: 0;
}

.heart-shape:hover .fas {
  opacity: 1;
  transform: translateY(1%) scale(1.3) translateX(15%);
}

.heart-design:hover {
  visibility: visible;
}

.heart-place {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 56px;
}

.under-title {
  font-family: "Roboto";
}

.restaurant-frame {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 25px;
  width: 84%;
  margin-left: 20px;
  margin-bottom: 25px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.restaurant-frame-nd {
  background-color: white;
  padding-bottom: 20px;
  width: 30%;
  margin-right: 50px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.spec-img-nd {
  width: 100%;
  border-radius: 26px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.first-title-nd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto";
  font-weight: bold;
  font-size: larger;
  margin-top: 15px;
  margin-left: 15px;
}

.under-title-nd {
  font-family: "Roboto";
  margin-left: 16px;
}

footer {
  background-color: #353535;
}

.footer-logo {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 17px;
  padding-top: 15px;
}

.footer-text {
  color: #F6F6F6;
  font-family: "Roboto";
}

.bg-footer {
  background-color: #353535;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #DF6FDB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear forwards;
}

.index-container {
  animation: fade 4s;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  50% {
    transform: rotate(180deg);
    visibility: visible;
  }
  to {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 950px) {
  body {
    margin: 0;
    width: 394px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30px;
  }
  .header .header__logo {
    width: 211px;
  }
  .icon-under-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 16px;
    background-color: #EAEAEA;
    padding: 11px;
    font-size: large;
    font-weight: bold;
    box-shadow: 4px 1px 5px 5px rgba(0, 0, 0, 0.2509803922);
    position: relative;
  }
  .icon-localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .localisation__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "Roboto";
  }
  .first-catchline-secondpart {
    font-size: 2em;
    margin-block-start: -1em;
    margin-block-end: 0.67em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    font-size: 27px;
    font-family: "Roboto";
    margin: auto;
    height: 108px;
  }
  .second-catchline-secondpart {
    font-size: 1em;
    margin-block-start: -1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 28px;
    font-family: "Roboto";
    font-weight: bold;
  }
  .second-catchline-fourth-part {
    margin-block-start: -1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    font-size: 19px;
    font-family: "Roboto";
    text-align: center;
  }
  .first-sentence {
    height: 60px;
  }
  h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "Roboto";
    font-size: x-large;
    height: 14px;
    margin: 0px;
  }
  p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "Roboto";
    line-height: 26px;
    font-size: 21px;
  }
  .button-purple {
    border-radius: 44px;
    height: 60px;
    width: 200px;
    background: linear-gradient(#DF6FDB, #AB5DDC);
    border-width: 0px;
    filter: drop-shadow(1px 5px 13px rgba(0, 0, 0, 0.2));
  }
  .button-purple .text-button {
    color: white;
    font-size: 16px;
    font-weight: lighter;
  }
  .button-purple:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
    animation-delay: 2s;
  }
  .button-spec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 20px;
  }
  .CTA-part {
    background-color: #F6F6F6;
    width: 394px;
    padding-top: 40px;
  }
  .bloc-button {
    font-family: Roboto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .bloc-button .title-button {
    flex-direction: row;
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .img-size {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .step-restaurant {
    flex-direction: column;
    display: flex;
  }
  .button-step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    width: auto;
    font-size: 16px;
    padding: 24px 10px;
    padding-right: 72px;
    border-radius: 23px;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 9px;
    gap: 40px;
    background-color: #F6F6F6;
    white-space: nowrap;
  }
  .numbers-position {
    left: 27px;
    position: relative;
  }
  .icone-position {
    margin-right: -15px;
  }
  .numerotation-fonctionnement {
    height: 25px;
    width: 25px;
    background-color: #9356DC;
    border-radius: 50%;
    display: inline-block;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .store-shape {
    display: flex;
  }
  .icone-type {
    gap: 15px;
  }
  .fa-solid fa-mobile-screen-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: black;
  }
  .fa-solid, .fas {
    font-size: x-large;
  }
  .card-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .card-restaurant .spec-img {
    width: 90%;
    border-radius: 26px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .bg-restaurant {
    background-color: #EAEAEA;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .first-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Roboto";
    font-weight: bold;
    font-size: larger;
  }
  .under-title {
    font-family: "Roboto";
  }
  .restaurant-frame {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 25px;
    width: 84%;
    margin-left: 20px;
    margin-bottom: 25px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
  }
  .restaurant-frame-nd {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 20px;
    width: 92%;
    margin-bottom: 25px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
  }
  .spec-img-nd {
    width: 100%;
    border-radius: 26px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .first-title-nd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Roboto";
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
    margin-left: 15px;
  }
  .heart-shape {
    display: flex;
    font-size: xx-large;
    flex-direction: column;
    justify-content: center;
    max-width: 4em;
  }
  .fas {
    color: transparent;
    background-image: linear-gradient(#DF6FDB, #AB5DDC);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
    position: absolute;
    transition: all 200ms ease-in-out;
    opacity: 0;
  }
  .far {
    background-image: none;
    position: absolute;
    opacity: 1;
  }
  .heart-shape:hover .far {
    opacity: 0;
  }
  .heart-shape:hover .fas {
    opacity: 1;
    transform: translateY(1%) scale(1.2) translateX(16%);
  }
  .heart-design:hover {
    visibility: visible;
  }
  .heart-place {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 56px;
  }
  .under-title-nd {
    font-family: "Roboto";
    margin-left: 16px;
  }
  .footer-text {
    color: #F6F6F6;
    font-family: "Roboto";
  }
  .footer-icone {
    font-size: small;
    padding-left: 20px;
  }
  .bg-footer {
    background-color: #353535;
    padding-top: 1px;
    padding-bottom: 14px;
  }
  .fa fa-utensils .fa fa-handshake-angle {
    font-size: small;
  }
  .proposition-footer {
    display: flex;
    gap: 12px;
  }
  .assistance {
    padding-left: 48px;
  }
  .title-footer {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
