@mixin flex-direction {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.header{
 @include flex-direction;
  &__logo {
    height: 30px;
    margin: 25px;
    width: 10px;
  }
}

.icon-under-title {
  @include flex-direction;
  height: 16px;
  gap: 12px;
  background-color: #EAEAEA;
  padding: 20px;
  font-size: large;
}

.localisation {
  @include flex-direction;
  &__text {
    @include flex-direction;
    font-family: 'Roboto';

  }
}
.first-catchline-secondpart{
  font-size: 2em;
  margin-block-start: -1em;
  margin-block-end: 0.67em;
  font-weight: bold;
  @include flex-direction;
  font-size: 28px;
  font-family: "Roboto";
}
.second-catchline-secondpart{
  font-size: 1em;
  margin-block-start: -1em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  @include flex-direction;
  font-size: 27px;
  font-family: "Roboto Light";
}
h1 {
  @include flex-direction;
  font-family: "Roboto";
  font-size: large;
}
p {
  @include flex-direction;
  font-family: "Roboto Light";
}
.button-purple{
  @include flex-direction;
  color: blueviolet;
  .text-button{
    background-color: blueviolet;
    border-color: blueviolet;
  }
}
.CTA-part{
background-color: #F6F6F6;
}

.bloc-button{
  font-family: Roboto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  .title-button{
    flex-direction: column;
    display: flex;
  }
}

.step-restaurant{
  flex-direction: column;
  display: flex;

  .button-step{
    @include flex-direction;
    width: auto;
    font-size: 16px;
    padding: 24px 20px;
    border-radius: 23px;
    border-color: transparent;
    margin: 27px;
    margin-top: 10px;
    margin-bottom: 9px;
  }
  .fa-solid fa-mobile-screen-button{
    @include flex-direction;
    color:black;
  }
}

