/* desktop version */
.size {
  width: 100%;
  margin: -8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin: 25px;
}
.header .header__logo {
  width: 211px;
}

.icon-under-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 16px;
  gap: 12px;
  background-color: #EAEAEA;
  padding: 20px;
  font-size: large;
  font-weight: bold;
}

.icon-localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.localisation__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
}

.first-catchline-secondpart {
  font-size: 2em;
  margin-block-start: -1em;
  margin-block-end: 0.67em;
  font-weight: bold;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 35px;
  font-family: "Roboto";
  margin: auto;
  height: 50px;
  text-align: center;
}

.second-catchline-secondpart {
  font-size: 1em;
  margin-block-start: -1em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  font-family: "Roboto";
  font-weight: bold;
}

.first-sentence {
  height: 60px;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
  font-size: x-large;
  height: 14px;
  margin: 0px;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
  line-height: 26px;
  font-size: 16px;
}

.button-purple {
  border-radius: 44px;
  height: 60px;
  width: 15%;
  background-color: #B361DC;
  border-color: #B361DC;
}
.button-purple .text-button {
  background-color: #B361DC;
  color: white;
  font-size: 18px;
}

.button-spec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 20px;
}

.CTA-part {
  background-color: #F6F6F6;
  width: 107%;
  padding-top: 40px;
}

.restaurant-part {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.restaurant-text {
  margin-left: 8%;
  display: flex;
}

.bloc-button {
  font-family: Roboto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  padding-top: 40px;
  padding-bottom: 25px;
}
.bloc-button .title-button {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 60%;
}

.restaurant-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-size {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.step-restaurant {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.step-restaurant .button-step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  width: auto;
  font-size: 16px;
  padding: 24px 20px;
  border-radius: 23px;
  border-color: transparent;
  margin: 27px;
  margin-top: 10px;
  margin-bottom: 9px;
  gap: 30px;
  background-color: #F6F6F6;
}
.step-restaurant .icone-type {
  gap: 15px;
}
.step-restaurant .fa-solid fa-mobile-screen-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: black;
}

.fa-solid, .fas {
  font-size: x-large;
}

.card-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.card-restaurant .spec-img {
  width: 90%;
  border-radius: 26px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.bg-restaurant {
  background-color: #EAEAEA;
  width: 101%;
}

.first-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto";
  font-weight: bold;
  font-size: larger;
}

.under-title {
  font-family: "Roboto";
}

.restaurant-frame {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 25px;
  width: 84%;
  margin-left: 20px;
  margin-bottom: 25px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.restaurant-frame-nd {
  background-color: white;
  padding-bottom: 20px;
  width: 43%;
  margin-left: 20px;
  margin-bottom: 25px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.spec-img-nd {
  width: 100%;
  border-radius: 26px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.first-title-nd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto";
  font-weight: bold;
  font-size: larger;
  margin-top: 15px;
  margin-left: 15px;
}

.under-title-nd {
  font-family: "Roboto";
  margin-left: 16px;
}

.footer-logo {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 17px;
  padding-top: 15px;
}

.footer-text {
  color: #F6F6F6;
  font-family: "Roboto";
}

.bg-footer {
  background-color: #353535;
}

@media only screen and (max-width: 600px) {
  .size {
    width: 100%;
    margin: -8px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin: 25px;
  }
  .header .header__logo {
    width: 211px;
  }
  .icon-under-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 16px;
    gap: 12px;
    background-color: #EAEAEA;
    padding: 20px;
    font-size: large;
    font-weight: bold;
  }
  .icon-localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .localisation__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "Roboto";
  }
  .first-catchline-secondpart {
    font-size: 2em;
    margin-block-start: -1em;
    margin-block-end: 0.67em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    font-size: 28px;
    font-family: "Roboto";
    margin: auto;
    height: 108px;
  }
  .second-catchline-secondpart {
    font-size: 1em;
    margin-block-start: -1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 28px;
    font-family: "Roboto";
    font-weight: bold;
  }
  .second-catchline-fourth-part {
    margin-block-start: -1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 21px;
    font-family: "Roboto";
    text-align: center;
  }
  .first-sentence {
    height: 60px;
  }
  h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "Roboto";
    font-size: x-large;
    height: 14px;
    margin: 0px;
  }
  p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "Roboto";
    line-height: 26px;
    font-size: 21px;
  }
  .button-purple {
    border-radius: 44px;
    height: 60px;
    width: 61%;
    background-color: #B361DC;
    border-color: #B361DC;
  }
  .button-purple .text-button {
    background-color: #B361DC;
    color: white;
    font-size: 18px;
  }
  .button-spec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 20px;
  }
  .CTA-part {
    background-color: #F6F6F6;
    width: 107%;
    padding-top: 40px;
  }
  .bloc-button {
    font-family: Roboto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .bloc-button .title-button {
    flex-direction: row;
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .img-size {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .step-restaurant {
    flex-direction: column;
    display: flex;
  }
  .step-restaurant .button-step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    width: auto;
    font-size: 16px;
    padding: 24px 20px;
    border-radius: 23px;
    border-color: transparent;
    margin: 27px;
    margin-top: 10px;
    margin-bottom: 9px;
    gap: 30px;
    background-color: #F6F6F6;
  }
  .step-restaurant .icone-type {
    gap: 15px;
  }
  .step-restaurant .fa-solid fa-mobile-screen-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: black;
  }
  .fa-solid, .fas {
    font-size: x-large;
  }
  .card-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .card-restaurant .spec-img {
    width: 90%;
    border-radius: 26px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .bg-restaurant {
    background-color: #EAEAEA;
    width: 105%;
    display: flex;
    flex-direction: column;
  }
  .first-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Roboto";
    font-weight: bold;
    font-size: larger;
  }
  .under-title {
    font-family: "Roboto";
  }
  .restaurant-frame {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 25px;
    width: 84%;
    margin-left: 20px;
    margin-bottom: 25px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
  }
  .restaurant-frame-nd {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 20px;
    width: 92%;
    margin-left: 20px;
    margin-bottom: 25px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
  }
  .spec-img-nd {
    width: 100%;
    border-radius: 26px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .first-title-nd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Roboto";
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
    margin-left: 15px;
  }
  .under-title-nd {
    font-family: "Roboto";
    margin-left: 16px;
  }
  .footer-logo {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: 17px;
    padding-top: 15px;
  }
  .footer-text {
    color: #F6F6F6;
    font-family: "Roboto";
  }
  .bg-footer {
    background-color: #353535;
  }
}

/*# sourceMappingURL=style.css.map */
