
  .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    margin: 25px;
  }

  .icon-under-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 16px;
    gap: 12px;

  }
  .localisation{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .text-localisation{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .first-catchline-firstpart{
  }
  .first-catchline-secondpart{
    font-size: 2em;
    margin-block-start: -1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  h1 {
    display: flex;
    flex-direction:  row;
    justify-content: center;
  }
  p {
    display: flex;
    flex-direction:  row;
    justify-content: center;
  }
  .second-catchline-secondpart{
    font-size: 1em;
    margin-block-start: -1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button-purple{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
